.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.game-stats-container {
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

.game-progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
}

.game-progress-fill {
  height: 100%;
  background: linear-gradient(to right, #00bfff, #00ff88);
  transition: width 1s linear;
}