.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 10px;
}

.game-stats-container {
    display: flex;
    align-items: center;
    gap: 12px;

    background: #ffffff;
    border: 1px solid #ddd;
    padding: 6px 10px;
    border-radius: 10px;
    margin: 10px;

    font-size: 0.9rem;
}

.game-stats-container p {
    margin: 0;
    white-space: nowrap;
}

.game-progress-bar {
    flex: 1; /* expands to fill space */
    height: 8px;
    background: #e1e1e1;
    border-radius: 10px;
    overflow: hidden;
}

.game-progress-fill {
    height: 100%;
    background: linear-gradient(to right, #00bfff, #00ff88);
    transition: width 0.4s linear;
}

.pause-btn {
    border: none;
    background: #00CDBC;
    color: white;
    font-size: 0.9rem;
    padding: 4px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.pause-btn:hover {
    background: #00b1a5;
}

.list-title {
    color: #ffffff;
}