.job-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.job-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #fff;
}

.job-icon-container {
    margin-right: 15px;
    color: #ff6f61;
}

.job-name {
    font-weight: bold;
    margin-right: 15px;
}

.job-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}

.job-details .graphic-detail {
    margin: 0;
    font-size: 1.2em;
    font-weight: italic;
}