.job-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.job-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #fff;
}

.job-image-container {
    margin-right: 15px;
}

.job-name {
    font-weight: bold;
}

.job-card.flash-green {
  animation: flash-green 1.5s ease-out;
}

@keyframes flash-green {
  0% { background-color: #00ff00; }
  100% { background-color: transparent; }
}