.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.game-stats-container {
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}