.rider-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.rider-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #fff;
}

.rider-content {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.rider-job-assigned-indicator {
  margin-right: 15px;
}

.rider-offline-overlay {
  margin-right: 15px;
}

.rider-name {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.rider-image-container {
    margin-right: 15px;
}

.rider-card:hover {
  transform: scale(1.03);
}

.rider-card.unavailable {
  opacity: 0.5;           
  background-color: #b4eb45;
}

.rider-card.offline {
  opacity: 0.5;           
  background-color: #b4eb45;
}

.rider-progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
}

.rider-progress-fill {
  height: 100%;
  background: linear-gradient(to right, #00bfff, #00ff88);
  transition: width 1s linear;
}